.blog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.blog-list:hover {
  color: white;
}
.blog-meta-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.blog-item {
  cursor: pointer;
  padding: 10px;
  width: 300px;

  border-radius: 10px;
}
.blog-details {
  display: none;
}

.blog_title {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 25px;
  font-weight: 700;
  color: rgb(10, 10, 10);
}
.blog_title:hover {
  color: white;
}
.blogdetails_head {
  color: rgb(14, 13, 13);
  font-size: 40px;
  font-weight: 900;
}
.blogdetails_img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  object-fit: cover;
}
.blogdetails_blog {
  font-size: 25px;
  color: rgb(21, 23, 26);
  margin-top: 30px;
  line-height: 32px;
  font-family: "gorditaregular";
  font-weight: normal;
  font-size: 20px;
}
.blog-details {
  border-radius: 20px;
  margin-top: 100px;
  padding: 20px;
  width: 100%;
  height: auto;
  /* background-color: aliceblue; */
}
.blogs_detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ruby_div {
  width: 350px;
  height: auto;
  padding: 10px;
  /* border: 2px solid gray; */
  border-radius: 10px;
  background-color: transparent;
  color: #060606;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
  overflow: hidden;
}
.ruby_div:hover {
  cursor: pointer;
  color: white;
}
.ruby_div:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 100%;
  width: 120%;
  height: 220%;
  background-color: #d6d5d5;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.6s ease;
}
.ruby_div:hover:before {
  top: -60%;
  left: -10%;
}

.bt {
  text-decoration: none;
  background-color: #ff2759;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
  cursor: pointer;
  transition: 0.4s;
}
.bt:hover {
  background-color: rgb(15, 15, 15);
  color: rgb(249, 245, 245);
}

@media screen and (max-width: 480px) {
  .blogdetails_title {
    font-size: 10px;
    border-radius: 10px;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 20px;
    top: 10px;
    background: #f9f2ec;
  }
  .blogdetails_head {
    font-size: 15px;
  }
  .blogdetails_bt1 {
    border-radius: 10px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 20px;
  }
}

@media screen and (max-width: 990px) {
  .blogdetails_title {
    font-size: 10px;
    border-radius: 10px;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 5px;

    /* top: 30px; */
    bottom: 15px;
    background: #f9f2ec;
  }
  .blogdetails_head {
    font-size: 25px;
  }
  .blogdetails_bt1 {
    border-radius: 10px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 20px;
  }
}

@media screen and (min-width: 990px) {
  .blogdetails_title {
    font-size: 10px;
    border-radius: 10px;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 200px;

    /* top: 30px; */
    bottom: 100px;
    background: #f9f2ec;
  }
  .blogdetails_head {
    font-size: 25px;
  }
  .blogdetails_bt1 {
    border-radius: 10px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 10px;
  }
  .blog-sidebar-category {
    margin-top: 300px;
  }
}

.blog_i {
  width: 100%;
  height: 300px;
  object-fit: contain;
  overflow: hidden;
  display: flex;
  border-radius: 10px;
}

.blog_i img {
  transition: all ease-in-out 0.5s;
}
.blog_i:hover img {
  cursor: pointer;
  scale: 1.5;
}

.mi {
  display: grid;
  /* RAM method (repeat auto-fit minmax() )*/
  grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
}
.bll {
  width: 650px;
  height: 300px;
  background-color: rgb(235, 235, 235);
  margin-bottom: 50px;
}
.bllsm {
  width: 650px;
  height: 50px;
  background-color: rgb(235, 235, 235);
}
